@model List<Developer>

<h1>Developers list</h1>

<table style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var developer in Model)
        {
            // If id is even, highlight the row
            if (developer.Id % 2 == 0)
            {
                <tr style="background-color: lightgray;">
                    <td>@developer.Name</td>
                    <td>@developer.Role</td>
                    <td>@developer.Experience years</td>
                </tr>
            }

            else
            {
                <tr>
                    <td>@developer.Name</td>
                    <td>@developer.Role</td>
                    <td>@developer.Experience years</td>
                </tr>
            }
        }
    </tbody>
</table>